/* Base styling for the whole container */
.contact-form-container {
    background: white;
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 800px;
    margin: auto; /* Centrage du conteneur sur la page */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage des éléments dans le conteneur */
}

#formContact{
    width: 64%; /* Assure que le groupe de formulaires utilise toute la largeur du conteneur 251.51 271.6*/ 
}

.form-group {
    width: 100%; /* Assure que le groupe de formulaires utilise toute la largeur du conteneur */
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Style inputs and textarea */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%; /* Réduit la largeur pour compter le padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block; /* S'assure que les inputs prennent toute la ligne */
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical; /* allows vertical resize only */
}

/* Styling the header of the form */
.contact-form-container h1 {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
}


/* Style for labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
}


/* Style for the submit button */
.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #b21f24;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #921b1f;
}

#dropdown-menu ul li a {
    color: white;
}

#dropdown-menu ul li a:hover {
    background-color: darkred;
}

.croix {
    color: white;
}

/* Add more styles below if needed */
