/* Menu déroulant */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond blanc semi-transparent */
    z-index: 1001; /* Assure que l'overlay soit au-dessus de tout le reste */
}

#dropdown-menu {
    font-size: 25px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b21f25;
    z-index: 1002; /* Assure que le menu soit au-dessus de l'overlay */
    overflow-y: auto; /* Permet le défilement si le contenu est trop long */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    text-align: left; /* Assure que le texte des liens est centré */
    padding-top: 60px; /* Ajoute un espace au-dessus pour éviter le chevauchement avec la croix */
}

#dropdown-menu ul li {
    padding: 10px 0;
    width: 100%; /* Utilise toute la largeur pour faciliter le clic */
    box-sizing: border-box;
}

#dropdown-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 18px; /* Augmente la taille du texte pour une meilleure visibilité */
    font-weight: bold;
    width: 100%; /* S'assure que toute la zone est cliquable */
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

#dropdown-menu ul li a:hover {
    background-color: darkred;
}

.croix {
    color: white;
    font-size: 45px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.5s ease;
}

.croix:hover {
    background-color: darkred;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0); /* Limite le déplacement à 20% de la largeur de la fenêtre */
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0); /* Démarre à partir de la limite précédemment définie */
    }
    to {
        transform: translateX(100%);
    }
}
