/* Styles de base pour le pied de page */
.footer {
    background-color: #b21f24;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 200px; /* Hauteur maximale pour le pied de page */
    overflow-y: auto; /* Défilement vertical si le contenu dépasse la hauteur maximale */
    padding: 10px 20px; /* Ajout de padding pour une meilleure lisibilité */
    display: flex;
    flex-direction: row; /* Les éléments sont alignés horizontalement par défaut */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: center; /* Centrer horizontalement les éléments */
}

.footer-info, .footer-links, .social-media {
    flex: 1; /* Chaque section prend la même portion de l'espace */
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.footer-info {
    display: inline;
    justify-content: flex-start; /* Texte positionné à gauche */
}

.footer-links {
    justify-content: center; /* Texte centré */
}

.social-media {
    justify-content: flex-end; /* Texte positionné à droite */
}

.social-media p{
    padding-right: 10px;
}

.footer p {
    padding-left: 20px;
    margin: 5px 0;
    font-size: 14px; 
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px; /* Espacement autour des liens */
}

.footer-links a:hover {
    color: #feb041;
}

/* TODO Faire en sorte que quand on survole les liens, il y ai un fond noir transparant juste autour du texte du lien qui apparait comme pour le header avec l'icone du menu déroulant en haut à droite*/

.social-media {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media a {
    color: rgb(44, 69, 184);
    text-decoration: none;
    margin-left: 20px;
}

.facebook-logo{
    display: inline-block;
    width: 10px;
    height: 10px;
    max-width: 20px;
    max-height: 20px;
}


/* Media Queries pour les tailles d'écrans plus petites */
@media (max-width: 768px) {
    .footer {
        height: 60px; /* Réduction de la hauteur du footer */
        flex-direction: row; /* Alignement horizontal */
        justify-content: space-between; /* Espacement entre les éléments */
    }

    /* Cacher les textes spécifiques en dessous de 768px */
    .footer-info p, .social-media p {
        display: none;
    }

    .footer-links ul {
        display: flex; /* Pour une meilleure disposition des liens */
        align-items: center; /* Centrage vertical des liens */
        margin-left: 50px; /* Ajout de marge à gauche et à droite */
        font-size: 12px;
    }

    .footer-links li {
        margin-right: 15px; /* Réduction de la marge entre les liens */
    }

    .social-media {
        margin-right: 50px; /* Réduction de la marge à droite */
        margin-bottom: 8px;
    }
}
