/* Bannière */
.banner {
    background-color: #b21f25;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    max-height: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.logo img {
    width: auto;
    height: 100%; /* La hauteur de l'image sera égale à la hauteur de son conteneur */
    max-height: 100%; /* Limite la hauteur de l'image à 100% de la hauteur de son conteneur */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-icon {
    font-size: 45px;
    cursor: pointer;
    color: white;
    padding-right: 20px;
    padding-bottom: 5px;
}

.menu-icon::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: darkred;
    right: 12.7px; /* Positionnement par rapport au bord droit du menu icon */
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-icon:hover::before {
    opacity: 1;
}

.banner-text {
    color:white;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.current-page {
    padding-right: 50px;
    margin-left: auto;
}

.titre {
    padding-left: 150px;
    margin-right: auto;
}

@media screen and (max-width: 710px) {
    .banner {
        flex-direction: row; /* Afficher les éléments côte à côte */
        align-items: center; /* Alignement vertical au centre */
        height: 80px; /* Hauteur fixe pour la bannière */
        padding: 0 20px; /* Padding original */
    }

    .banner-text {
        display: none; /* Masquer le texte de la bannière */
    }

    .current-page {
        display: none; /* Masquer le texte de la page courante */
    }

    .titre {
        display: none; /* Masquer le titre */
    }

    .logo img{
        padding-left: 10px;
    }

    .menu-icon {
        margin-right: 0; /* Réinitialiser la marge */
        position: relative; /* Changer la position */
    }

    .menu-icon::before {
        right: auto; /* Réinitialiser la position */
        left: -8px; /* Ajuster la position vers la gauche */
        transform: translateY(-50%); /* Ajuster la position verticale */
    }
}

@media screen and (max-width: 172px) {
    .logo img{
        display: none;
    }

    .menu-icon {
        margin-right: 0; /* Réinitialiser la marge */
        position: relative; /* Changer la position */
    }

    .menu-icon::before {
        right: auto; /* Réinitialiser la position */
        left: -8px; /* Ajuster la position vers la gauche */
        transform: translateY(-50%); /* Ajuster la position verticale */
    }
}
