.login-container {
    background: white;
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto; /* Centrage du conteneur sur la page */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage des éléments dans le conteneur */
}

#form-login{
    width: 64%; /* Assure que le groupe de formulaires utilise toute la largeur du conteneur 251.51 271.6*/ 
}

.form-group {
    width: 100%; /* Assure que le groupe de formulaires utilise toute la largeur du conteneur */
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 100%; /* Réduit la largeur pour compter le padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block; /* S'assure que les inputs prennent toute la ligne */
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #004494;
}

.links {
    text-align: center;
    margin-top: 20px; /* Ajuste selon tes besoins pour plus d'espacement */
}

.links a {
    color: #0056b3;
    text-decoration: none;
    display: block; /* Chaque lien prend sa propre ligne */
    margin-bottom: 10px; /* Espacement entre les liens */
    font-size: 90%;
}

#dropdown-menu ul li a {
    color: white;
}

#dropdown-menu ul li a:hover {
    background-color: darkred;
}

.croix {
    color: white;
}