<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Forum du Pays de Grasse</title>
    <link rel="stylesheet" href="../../public/css/style_connexion.css">
    <link rel="icon" type="/png" href="../../public/images/logo/logo-association-forum-onglet-t48.png">
</head>
<body>
    <!-- Bannière -->
    <header class="banner">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="banner-text">
            <p class="current-page">Connexion</p>
            <p class="titre">Forum Association de Grasse</p></div>
        <div class="logo">
            <img src="../../public/images/logo/Logo Association Forum.jpg" alt="Logo Association Forum">
        </div>
    </header>

    <!-- Menu déroulant -->
    <div id="overlay" onclick="closeMenu()"></div>
    <div id="dropdown-menu">    
        <ul>
            <li class="croix" onclick="closeMenu()">&#10006;</li>
            <li><a href="connexion.html">Se connecter / S'inscrire</a></li>
            <li><a href="accueil.html">Accueil</a></li>

            <!--TODO: À remplir avec les liens pour les autres pages lorsque celles-ci seront disponibles -->
            <li><a href="#">Journée Forum</a></li>
            <li><a href="#">Annuaire des Associations</a></li>
            <li><a href="#">Rencontres Associatives</a></li>
            <li><a href="#">Collège d'Experts</a></li>
            <li><a href="#">Agenda Des Associations</a></li>
            <li><a href="#">Flash Info et Informations Utiles</a></li>
        </ul>
    </div>

    <!-- Formulaire de connexion -->
    <div class="login-container">
        <h2>Connexion</h2>
        <form action="../controller/LoginController.php" method="POST">
            <div id="error_message" style="color: red;"></div>
            <div class="form-group">
                <label for="email">Adresse Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="login-button">Se connecter</button>
            </div>
            <div class="links">
                <a href="inscription.html">Déja Membre ? Créer un compte</a>
                <a href="motdepasse-oublie.html">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>

    <!-- Pied de page -->
    <footer class="footer">
        <div class="footer-info">
            <p>France</p>
            <p>Copyright 2024 © Association Pays de Grasse</p>
            <p>Tous droits réservés</p>
        </div>
        <div class="footer-links">
            <ul>
                <!--TODO: À remplir avec les liens pour les autres pages lorsque celles-ci seront disponibles -->
                <li><a href="#">Nous Contacter</a></li>
                <li><a href="#">Nos Partenaires</a></li>
                <li><a href="#">Affichage Mobile</a></li>
                <li><a href="#">Version Imprimable</a></li>
            </ul>
        </div>
        <div class="social-media">
            <p>Rejoignez nous sur:</p>
            <a href="https://www.facebook.com/forum.grasse.paysdegrasse">Facebook</a>
        </div>
    </footer>

    <script src="../../public/js/connexion.js"></script>
    <script src="../../public/js/menu_deroulant.js"></script> <!-- Ajout du fichier JavaScript pour le menu déroulant -->
</body>
</html>
