body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; /* Centre le contenu horizontalement */
}

header {
    z-index: 2;
    width: 100%;
}

.main-content {
    padding-bottom: 80px;
    width: 100%; /* Assure que le contenu principal occupe toute la largeur */
}

.association-section {
    background: white;
    padding: 25px 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1000px; /* Limite la largeur maximale pour éviter le débordement */
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.association-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.association-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.association-item h2 {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.association-item table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.association-item th, .association-item td {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
    border: none; /* Supprimer les bordures */
    text-align: center;
}

.association-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
    max-height: 100px;
    object-fit: cover;
}

.association-item a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #b21f25;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise flexbox */
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre le texte horizontalement */
}

.association-item a:hover {
    background-color: darkred;
}

.back-to-directory,
.back-to-top {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 8px 16px;
    background-color: #b21f25;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise flexbox */
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre le texte horizontalement */
}

.back-to-directory:hover,
.back-to-top:hover {
    background-color: darkred;
}

h1 {
    text-align: center;
    width: 100%; /* Assure que le titre occupe toute la largeur */
}

/* Barre de recherche */
#search-form {
    margin-bottom: 20px; /* Ajouter un espace en bas */
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le formulaire horizontalement */
    width: 100%;
    max-width: 600px; /* Limite la largeur maximale du formulaire */
}

#search-input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1; /* Permet à l'input de prendre l'espace restant */
    margin-right: 10px; /* Ajouter un espacement à droite */
}

#search-input::placeholder {
    color: #999; /* Couleur du texte de l'placeholder */
}

#search-input:focus {
    outline: none; /* Supprimer le contour sur le focus */
    border-color: #70c474; /* Couleur de la bordure sur le focus */
}

#search-button {
    padding: 8px 16px;
    background-color: #b21f25;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour une animation fluide */
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise flexbox */
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre le texte horizontalement */
}



/* Styles spécifiques pour sports */
.sports .association-item a,
.sports .back-to-directory,
.sports .back-to-top,
.sports #search-button,
.sports::-webkit-scrollbar, 
.sports::-webkit-scrollbar-thumb,
.sports .edit-button,
.sports .delete-button,
.sports .visibility-button,
.sports .add-association-button button,
.sports .form-group .modal-button {
    background-color: rgba(144,228,252,1.0);
}

.sports .association-item a:hover,
.sports .back-to-directory:hover,
.sports .back-to-top:hover,
.sports #search-button:hover,
.sports::-webkit-scrollbar-thumb:hover,
.sports .edit-button:hover,
.sports .delete-button:hover,
.sports .visibility-button:hover,
.sports .add-association-button button:hover,
.sports .form-group .modal-button:hover {
    background-color: rgb(11, 137, 171);
}

/* Styles spécifiques pour animations et loisirs */
.animations-loisirs .association-item a,
.animations-loisirs .back-to-directory,
.animations-loisirs .back-to-top,
.animations-loisirs #search-button,
.animations-loisirs::-webkit-scrollbar, 
.animations-loisirs::-webkit-scrollbar-thumb,
.animations-loisirs .edit-button,
.animations-loisirs .delete-button,
.animations-loisirs .visibility-button,
.animations-loisirs .add-association-button button,
.animations-loisirs .form-group .modal-button {
    background-color: rgba(222, 107, 48, 1.0);
}

.animations-loisirs .association-item a:hover,
.animations-loisirs .back-to-directory:hover,
.animations-loisirs .back-to-top:hover,
.animations-loisirs #search-button:hover,
.animations-loisirs::-webkit-scrollbar-thumb:hover,
.animations-loisirs .edit-button:hover,
.animations-loisirs .delete-button:hover,
.animations-loisirs .visibility-button:hover,
.animations-loisirs .add-association-button button:hover,
.animations-loisirs .form-group .modal-button:hover {
    background-color: rgb(143, 53, 8);
}

/* Styles spécifiques pour arts et culture */
.arts-culture .association-item a,
.arts-culture .back-to-directory,
.arts-culture .back-to-top,
.arts-culture #search-button,
.arts-culture::-webkit-scrollbar, 
.arts-culture::-webkit-scrollbar-thumb,
.arts-culture .edit-button,
.arts-culture .delete-button,
.arts-culture .visibility-button,
.arts-culture .add-association-button button
.arts-culture .form-group .modal-button {
    background-color: rgba(125, 168, 103, 1.0);
}

.arts-culture .association-item a:hover,
.arts-culture .back-to-directory:hover,
.arts-culture .back-to-top:hover,
.arts-culture #search-button:hover,
.arts-culture::-webkit-scrollbar-thumb:hover,
.arts-culture .edit-button:hover,
.arts-culture .delete-button:hover,
.arts-culture .visibility-button:hover,
.arts-culture .add-association-button button:hover,
.arts-culture .form-group .modal-button:hover {
    background-color: rgb(75, 105, 60);
}

/* Styles spécifiques pour bien-être */
.bien-etre .association-item a,
.bien-etre .back-to-directory,
.bien-etre .back-to-top,
.bien-etre #search-button,
.bien-etre::-webkit-scrollbar, 
.bien-etre::-webkit-scrollbar-thumb,
.bien-etre .edit-button,
.bien-etre .delete-button,
.bien-etre .visibility-button,
.bien-etre .add-association-button button,
.bien-etre .form-group .modal-button {
    background-color: rgba(71, 165, 153, 1.0);
}

.bien-etre .association-item a:hover,
.bien-etre .back-to-directory:hover,
.bien-etre .back-to-top:hover,
.bien-etre #search-button:hover,
.bien-etre::-webkit-scrollbar-thumb:hover,
.bien-etre .edit-button:hover,
.bien-etre .delete-button:hover,
.bien-etre .visibility-button:hover,
.bien-etre .add-association-button button:hover,
.bien-etre .form-group .modal-button:hover {
    background-color: rgb(43, 101, 93);
}

/* Styles spécifiques pour associations humanitaires */
.humanitaire .association-item a,
.humanitaire .back-to-directory,
.humanitaire .back-to-top,
.humanitaire #search-button,
.humanitaire::-webkit-scrollbar, 
.humanitaire::-webkit-scrollbar-thumb,
.humanitaire .edit-button,
.humanitaire .delete-button,
.humanitaire .visibility-button,
.humanitaire .add-association-button button,
.humanitaire .form-group .modal-button {
    background-color: rgba(173, 149, 233, 1.0);
}

.humanitaire .association-item a:hover,
.humanitaire .back-to-directory:hover,
.humanitaire .back-to-top:hover,
.humanitaire #search-button:hover,
.humanitaire::-webkit-scrollbar-thumb:hover,
.humanitaire .edit-button:hover,
.humanitaire .delete-button:hover,
.humanitaire .visibility-button:hover,
.humanitaire .add-association-button button:hover,
.humanitaire .form-group .modal-button:hover {
    background-color: rgb(89, 77, 121);
}

/* Styles spécifiques pour associations écologiques */
.ecologie .association-item a,
.ecologie .back-to-directory,
.ecologie .back-to-top,
.ecologie #search-button,
.ecologie::-webkit-scrollbar, 
.ecologie::-webkit-scrollbar-thumb,
.ecologie .edit-button,
.ecologie .delete-button,
.ecologie .visibility-button,
.ecologie .add-association-button button,
.ecologie .form-group .modal-button {
    background-color: rgba(40, 116, 76, 1.0);
}

.ecologie .association-item a:hover,
.ecologie .back-to-directory:hover,
.ecologie .back-to-top:hover,
.ecologie #search-button:hover,
.ecologie::-webkit-scrollbar-thumb:hover,
.ecologie .edit-button:hover,
.ecologie .delete-button:hover,
.ecologie .visibility-button:hover,
.ecologie .add-association-button button:hover,
.ecologie .form-group .modal-button:hover {
    background-color: rgb(32, 93, 61);
}

/* Styles spécifiques pour associations anciens combattant */
.combattant .association-item a,
.combattant .back-to-directory,
.combattant .back-to-top,
.combattant #search-button,
.combattant::-webkit-scrollbar, 
.combattant::-webkit-scrollbar-thumb,
.combattant .edit-button,
.combattant .delete-button,
.combattant .visibility-button,
.combattant .add-association-button button,
.combattant .form-group .modal-button {
    background-color: rgba(200, 52, 28, 1.0);
}

.combattant .association-item a:hover,
.combattant .back-to-directory:hover,
.combattant .back-to-top:hover,
.combattant #search-button:hover,
.combattant::-webkit-scrollbar-thumb:hover,
.combattant .edit-button:hover,
.combattant .delete-button:hover,
.combattant .visibility-button:hover,
.combattant .add-association-button button:hover,
.combattant .form-group .modal-button:hover {
    background-color: rgb(180, 41, 21);
}

/* Styles spécifiques pour associations économiques */
.economie .association-item a,
.economie .back-to-directory,
.economie .back-to-top,
.economie #search-button,
.economie::-webkit-scrollbar, 
.economie::-webkit-scrollbar-thumb,
.economie .edit-button,
.economie .delete-button,
.economie .visibility-button,
.economie .add-association-button button,
.economie .form-group .modal-button {
    background-color: rgba(200, 220, 76, 1.0);
}

.economie .association-item a:hover,
.economie .back-to-directory:hover,
.economie .back-to-top:hover,
.economie #search-button:hover,
.economie::-webkit-scrollbar-thumb:hover,
.economie .edit-button:hover,
.economie .delete-button:hover,
.economie .visibility-button:hover,
.economie .add-association-button button:hover,
.economie .form-group .modal-button:hover {
    background-color: rgb(180, 176, 60);
}

#no-results-message {
    display: flex;
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
    text-align: center;
    padding: 50px;
    font-size: 1.2em;
    color: black;
    width: 100%; /* S'assure que le message occupe toute la largeur disponible */
}

/* Styles pour les boutons d'administration */
.admin-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.edit-button,
.delete-button,
.visibility-button,
.add-association-button button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.add-association-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Styles pour les modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center; /* Centre le texte horizontalement */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* Pour positionner le bouton de fermeture */
}

.close {
    color: #aaa;
    position: absolute; /* Positionne le bouton de fermeture en haut à droite */
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Texte aligné à gauche pour les labels et inputs */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="url"],
.form-group input[type="file"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group .modal-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto; /* Ajuste la largeur du bouton automatiquement */
    font-size: 16px;
    text-align: center; /* Centre le texte horizontalement */
    width: 30%;
    margin: 0 auto; /* Centre le bouton horizontalement */
    display: block; /* Assure que le bouton est un élément de bloc pour l'auto-margin */
}


.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.form-group-checkbox label {
    margin: 0;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drop-zone:hover {
    background-color: #f0f0f0;
}

.drop-zone .drop-zone__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.drop-zone__thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.drop-zone__prompt {
    font-size: 16px;
    color: #999;
}

.drop-zone.highlight {
    background-color: #e9e9e9;
}

.drop-zone.dragover {
    background-color: #f0f0f0;
    border-color: #333;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .association-section {
        padding: 25px 5%;
        width: 90%;
    }

    .association-item {
        flex-direction: column;
    }
    
    .association-item h2, 
    .association-item td {
        margin-right: 0;
        text-align: center;
    }

    .association-item img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .association-section {
        width: 90%;
        padding: 25px 5%;
    }

    #search-input {
        width: auto;
    }

    .association-item {
        flex-direction: column;
    }

    .association-item h2, 
    .association-item td {
        text-align: center;
        padding: 10px 20px;
    }

    .association-item img {
        max-width: 80%;
        margin: 20px 0;
    }
}

@media (max-width: 666px) {
    .association-section {
        width: 90%;
        padding: 25px 3.5%;
    }

    #search-input {
        width: auto;
    }

    .association-item {
        flex-direction: column;
    }

    .association-item h2, 
    .association-item td {
        text-align: center;
        padding: 8px 15px;
    }

    .association-item img {
        max-width: 80%;
        margin: 15px 0;
    }
}

@media (max-width: 588px) {
    .association-section {
        width: 90%;
        padding: 25px 2%;
    }

    .association-item {
        flex-direction: column;
        padding: 15px;
    }

    .association-item h2 {
        font-size: 14px;
    }

    .association-item td {
        font-size: 14px;
        padding: 5px 10px;
    }

    .association-item img {
        max-width: 100%;
        margin: 10px 0;
    }

    #search-input {
        padding: 6px 12px;
    }

    #search-button {
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .association-section {
        width: 90%;
        padding: 25px 2%;
    }

    .association-item {
        flex-direction: column;
        padding: 7.5px;
    }

    .association-item h2 {
        font-size: 14px;
    }

    .association-item th {
        font-size: 12px;
        padding: 2.5px 5px;
    }

    .association-item td {
        font-size: 10px;
        padding: 2.5px 5px;
    }

    .association-item img {
        max-width: 100%;
        margin: 5px 0;
    }

    #search-input {
        padding: 3px 6px;
    }

    #search-button {
        padding: 3px 6px;
    }
}

@media (max-width: 400px) {
    .association-section {
        width: 90%;
        padding: 25px 2%;
        font-size: 75%;
    }

    .association-item {
        flex-direction: column;
        padding: 7.5px;
    }

    .association-item h2 {
        font-size: 10px;
    }

    .association-item th {
        font-size: 7px;
        padding: 2.5px 5px;
    }

    .association-item td {
        font-size: 7px;
        padding: 2.5px 5px;
    }

    .association-item img {
        max-width: 100%;
        margin: 5px 0;
    }

    #search-input {
        padding: 3px 6px;
    }

    #search-button {
        padding: 3px 6px;
    }
}

@media (max-width: 376px) {
    .association-section {
        width: 90%;
        padding: 25px 2%;
        font-size: 60%;
    }

    .association-item {
        flex-direction: column;
        padding: 7.5px;
    }

    .association-item h2 {
        font-size: 10px;
    }

    .association-item th {
        font-size: 7px;
        padding: 2.5px 5px;
    }

    .association-item td {
        font-size: 7px;
        padding: 2.5px 5px;
    }

    .association-item img {
        max-width: 100%;
        margin: 5px 0;
    }

    #search-input {
        padding: 3px 6px;
    }

    #search-button {
        padding: 3px 6px;
    }
}
