/* Menu déroulant */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond blanc semi-transparent */
    z-index: 1001; /* Assure que l'overlay soit au-dessus de tout le reste */
}

#dropdown-menu {
    font-size: 25px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b21f25;
    z-index: 1002; /* Assure que le menu soit au-dessus de l'overlay */
    overflow-y: auto; /* Permet le défilement si le contenu est trop long */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    text-align: left; /* Assure que le texte des liens est centré */
    padding-top: 60px; /* Ajoute un espace au-dessus pour éviter le chevauchement avec la croix */
}

#dropdown-menu ul li {
    padding: 10px 0;
    width: 100%; /* Utilise toute la largeur pour faciliter le clic */
    box-sizing: border-box;
}

#dropdown-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 18px; /* Augmente la taille du texte pour une meilleure visibilité */
    font-weight: bold;
    width: 100%; /* S'assure que toute la zone est cliquable */
    box-sizing: border-box;
}

#dropdown-menu ul li a:hover {
    background-color: darkred;
}

.croix {
    color: white;
    font-size: 45px;
    cursor: pointer;
    padding: 10px;
}

.croix:hover {
    background-color: darkred;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(80%);
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(80%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Styles spécifiques pour sports */
.sports #dropdown-menu {
    background-color: rgba(144,228,252,1.0);
}

.sports #dropdown-menu ul li a:hover {
    background-color: rgb(11, 137, 171);
}

.sports .croix:hover {
    background-color: rgb(11, 137, 171);
}

/* Styles spécifiques pour animations et loisirs */
.animations-loisirs #dropdown-menu {
    background-color: rgba(222, 107, 48, 1.0);
}

.animations-loisirs #dropdown-menu ul li a:hover {
    background-color: rgb(143, 53, 8);
}

.animations-loisirs .croix:hover {
    background-color: rgb(143, 53, 8);
}


/* Styles spécifiques pour arts et culture */
.arts-culture #dropdown-menu {
    background-color: rgba(125, 168, 103, 1.0);
}

.arts-culture #dropdown-menu ul li a:hover {
    background-color: rgb(75, 105, 60);
}

.arts-culture .croix:hover {
    background-color: rgb(75, 105, 60);
}

/* Styles spécifiques pour bien-être */
.bien-etre #dropdown-menu {
    background-color: rgba(71, 165, 153, 1.0);
}

.bien-etre #dropdown-menu ul li a:hover {
    background-color: rgb(43, 101, 93);
}

.bien-etre .croix:hover {
    background-color: rgb(43, 101, 93);
}

/* Styles spécifiques pour associations humanitaires */
.humanitaire #dropdown-menu {
    background-color: rgba(173, 149, 233, 1.0);
}

.humanitaire #dropdown-menu ul li a:hover {
    background-color: rgb(89, 77, 121);
}

.humanitaire .croix:hover {
    background-color: rgb(89, 77, 121);
}

/* Styles spécifiques pour associations écologiques */
.ecologie #dropdown-menu {
    background-color: rgba(40, 116, 76, 1.0);
}

.ecologie #dropdown-menu ul li a:hover {
    background-color: rgb(32, 93, 61);
}

.ecologie .croix:hover {
    background-color: rgb(32, 93, 61);
}

/* Styles spécifiques pour associations anciens combattants */
.combattant #dropdown-menu {
    background-color: rgba(200, 52, 28, 1.0);
}

.combattant #dropdown-menu ul li a:hover {
    background-color: rgb(180, 41, 21);
}

.combattant .croix:hover {
    background-color: rgb(180, 41, 21);
}

/* Styles spécifiques pour associations économiques */
.economie #dropdown-menu {
    background-color: rgba(200, 220, 76, 1.0);
}

.economie #dropdown-menu ul li a:hover {
    background-color: rgb(180, 176, 60);
}

.economie .croix:hover {
    background-color: rgb(180, 176, 60);
}

/* Adaptation pour les petits écrans */
@media (max-width: 768px) {
    #dropdown-menu {
        width: 57%; /* Réduit la largeur du menu pour donner une impression d'espacement */
    }

    #dropdown-menu ul {
        padding-top: 30px; /* Réduit l'espacement au-dessus */
    }

    #dropdown-menu ul li a {
        font-size: 13px; /* Réduit légèrement la taille de la police pour s'adapter à la largeur réduite */
    }

    .croix {
        font-size: 30px; /* Réduit la taille de la croix de fermeture pour les petits écrans */
    }
}