body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    box-sizing: border-box; /* Ensures padding and borders are included in width */
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 1200px;
    height: 60vh;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #b21f25;
    flex-direction: row;
}

.text {
    max-width: 50%;
    padding: 20px;
    background: #b21f25;
}

.text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.text p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #d40813;
}

.swiper {
    width: 100%;
    height: 100%;
}
}

.swiper-slide {
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .text {
        max-width: 100%;
        width: 100%;
        padding: 20px 0px 20px 0px;
        text-align: center;
    }
    .swiper {
        width: 100%;
        height: auto;
        flex: none;
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 2em;
    }
    .text p {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .text {
        padding: 20px 0px 20px 0px;
    }
    .btn {
        padding: 8px 16px;
    }
    .swiper-slide img {
        height: auto;
    }
}

@media (max-height: 810px) {
    .main-content{
        padding-top: 250px;
    }
    .container {
        width: 100%;
    }
    .text {
        padding: 20px 0px 20px 0px;
    }
    .btn {
        padding: 8px 16px;
    }
    .swiper-slide img {
        height: auto;
    }
}
