body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    box-sizing: border-box; /* Ensures padding and borders are included in width */
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 1200px;
    height: 60vh;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #b21f25;
    flex-direction: row;
}

.text {
    max-width: 50%;
    padding: 20px;
    background: #b21f25;
}

.text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.text p {
    font-size: 1.2em;
}

.btn-inscription {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;    
}

.btn-inscription:hover {
    background-color: #d40813;
}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    font-size: 16.3px;
}

.btn:hover {
    background-color: #d40813;
}

.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: white;
    padding: 25px 50px;
    border-radius: 5px;
    border: 2px solid #888;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.5);
    width: 60%;
    max-width: 90%;
    max-height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.close {
    color: #aaa;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#editArticleForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

#editArticleForm button.edit-article-btn {
    width: 40%;
    padding: 10px 20px;
    background-color: #b21f24;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

#editArticleForm button.edit-article-btn:hover {
    background-color: #921b1f;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.current-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.current-image {
    position: relative;
    width: 100px;
    height: 100px;
}

.current-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.delete-current-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.delete-current-image-btn img {
    width: 100%;
    height: 100%;
}

.delete-current-image-btn img:hover {
    background-color: rgba(255, 255, 255, 0.51);
}

.add-image-btn {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.add-image-btn img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #28a745;
}

.add-image-btn img:hover {
    background-color: #218838;
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .text {
        max-width: 100%;
        width: 100%;
        padding: 20px 0px 20px 0px;
        text-align: center;
    }
    .swiper {
        width: 100%;
        height: auto;
        flex: none;
    }
    .swiper-slide img {
        max-height: 300px; /* Set a max height for responsive view */
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 2em;
    }
    .text p {
        font-size: 1em;
    }
    .swiper-slide img {
        max-height: 250px; /* Adjust height for smaller screens */
    }
    .modal-content {
        width: 80%;
        padding: 20px;
    }
    #editArticleForm {
        width: 90%;
    }
    #editArticleForm button.edit-article-btn {
        width: 60%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .text {
        padding: 20px 0px 20px 0px;
    }
    .btn {
        padding: 8px 16px;
    }
    .btn-inscription {
        padding: 8px 16px;
    }
    .swiper-slide img {
        max-height: 200px; /* Further adjust for the smallest screens */
    }
    .modal-content {
        width: 90%;
        padding: 15px;
    }
    #editArticleForm {
        width: 95%;
    }
    #editArticleForm button.edit-article-btn {
        width: 80%;
    }
}

@media (max-height: 810px) {
    .main-content {
        padding-top: 250px;
    }
    .container {
        width: 100%;
    }
    .text {
        padding: 20px 0px 20px 0px;
    }
    .btn {
        padding: 8px 16px;
    }
    .btn-inscription {
        padding: 8px 16px;
    }
    .swiper-slide img {
        max-height: 300px; /* Adjust max height for short screens */
    }
    .modal-content {
        max-height: 80vh;
    }
}
