.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 80px; /* Hauteur du header */
    padding-bottom: 80px; /* Hauteur du footer */
}

.banner{
    z-index: 1;
}


.forgotpassword-container {
    background: white;
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto; /* Centrage du conteneur sur la page */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage des éléments dans le conteneur */
}

#form-forgotpassword{
    width: 100%;  /* Assure que le groupe de formulaires utilise toute la largeur du conteneur */
}

.form-group {
    width: 100%; /* Assure que le groupe de formulaires utilise toute la largeur du conteneur */
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;  /* Réduit la largeur pour compter le padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block; /* S'assure que les inputs prennent toute la ligne */
    box-sizing: border-box;
}

.forgotpassword-button {
    width: 100%;
    padding: 10px;
    background-color: #b21f24;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgotpassword-button:hover {
    background-color: #921b1f;
}

.links {
    text-align: center;
    margin-top: 20px; /* Ajuste selon tes besoins pour plus d'espacement */
}

.links a {
    color: #feb041;
    text-decoration: none;
    display: block; /* Chaque lien prend sa propre ligne */
    margin-bottom: 10px; /* Espacement entre les liens */
    font-size: 90%;
}